#etc/udev/rules.d/10-zram.rules
# Так же надо сделать записи в 
# Файл/etc/fstab
# /dev/zram0 none swap sw,pri=32767 0 1
# Файл /etc/modules
# zram
# Файл /etc/modprobe.d/zram.conf
# options zram num_devices=3 
#
# https://wiki.gentoo.org/wiki/Zram
# https://www.linux.org.ru/forum/general/13132596?cid=13133180
KERNEL=="zram0", SUBSYSTEM=="block", DRIVER=="", ACTION=="add", ATTR{disksize}=="0", ATTR{disksize}="512M", RUN="/sbin/mkswap -p4096 /dev/zram0"
